* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
section{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  /* display: inline-block; */
  white-space: nowrap;
}

.black{
  display: flex;
  align-items: center;
  gap: 3rem;
  position: absolute;
  top: 13.5rem
  /* position: relative; */
  /* justify-content: space-between; */
}
.black button{
 
  
  background-color: rgb(2, 2, 2);
  padding: 3rem 0.3rem 0.1rem;
  z-index: 9;
}
.black button h1{
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.white button{
  z-index: -1;
  border: 1px solid rgb(109, 108, 108);

  padding: 5.25rem 0.5rem 0.5rem 0.5rem;
  border-radius: 2px;
  background-color: rgb(230, 229, 229);

}
button:active{
    scale: 0.95;
}
h1{
  font-size: 2rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}